.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: var(--screen-max-size);
	width: 100%;
	height: 100%;
	margin: auto;

	div {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	li {
		color: #ccc;
		list-style-type: lower-alpha;
		text-align: left;
		margin: 0;
		padding: 12px 0;
		font-size: 1.5rem;

		span {
			color: #000;
			font-size: 1rem;
		}

		&.option {
			cursor: pointer;
			margin: 0.9rem 0 !important;
			padding: 12px 8px !important;
			border-radius: 6px;
			min-width: 100%;
		
			&.active {
				position: relative;
				color: var(--primary);
				font-weight: 700;
				background-color: var(--primary-30);

				span{
					color: var(--primary);
				}

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: -36px;
					width: 2px;
					height: 90%;
					background-color: var(--primary);
					border-radius: 6px;
					z-index: -1;
					
				}
			}
		
			&:active,
			&:hover {
				opacity: 0.9;
			}
		}
	}

	.options {
		border-right: 3px dashed #ccc;
	}
}

.wrong-answer {
	color: red;
}

.right-answer {
	color: green;
}

@media screen and (max-width: 720px) {
	.container {
		max-width: 96vw;

		.options {
			max-width: 84vw;
			margin: auto;
			margin-left: 3rem;
		}
	}
}