@import "../../../styles/animations/slide-left";
@import "../../../styles/animations/shake_horizontal";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: var(--screen-max-size);
	width: 100%;
	height: 100%;
	margin: auto;

	div {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	li {
		color: #ccc;
		list-style-type: lower-alpha;
		text-align: left;
		margin: 0;
		padding: 12px 0;
		font-size: 1.5rem;

		span {
			color: #000;
			font-size: 1rem;
		}

		&.option {
			cursor: pointer;
			margin: 0.9rem 0 !important;
			padding: 12px 8px !important;
			border-radius: 6px;
			min-width: 100%;

			&.wrong,
			&.right,
			&.active {
				position: relative;	
				transition: all 0.3s ease-in;
			
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: -36px;
					width: 2px;
					height: 90%;
					border-radius: 6px;
					z-index: -1;

				}

				&.wrong,
				&.right {
					transition: all 1s ease-in-out;
				}

				&.active {
					color: var(--primary);
					background-color: var(--primary-30);
					font-weight: 700;
					
					span {
						color: var(--primary);
					}

					&::before {
						background-color: var(--primary);
					}

				}

				&.right {
					color: var(--success);
					
					span {
						color: var(--success);
					}

					&::before {
						background-color: var(--success);
					}
				}
	
				&.wrong {
					color: var(--danger);
					
					span {
						color: var(--danger);
					}

					&::before {
						background-color: var(--danger);
					}
				}
			}

			&:active,
			&:hover {
				opacity: 0.9;
			}
		}
	}

	.options {
		border-right: 3px dashed #ccc;
	}
}

.progressContainer {
	margin: 1rem 0 2rem !important;
	width: 100%;

	span {
		display: block;
		text-align: center;
	}
}

.activeQuestion {
	.options {
		@include anim-slid-left;
	}

	&.wrong-question {
		.options {
			@include anim-shake;
		}

	}
}

.actions {
	display: flex;
	justify-content: flex-end;
}

.wrong-answer {
	text-align: left;
	color: var(--danger);
}

.right-answer {
	text-align: left;
	color: var(--success);
}

@media screen and (max-width: 720px) {
	.container {
		max-width: 96vw;

		.options {
			max-width: 84vw;
			margin: auto;
			margin-left: 3rem;
		}
	}
}