:root {
	--primary: #7494EA;
	--primary-30: #7494EA10;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;

	@media(max-width: 1080px) {
		font-size: 93.75%;
	}

	@media(max-width: 720px) {
		font-size: 87.5%;
	}

}

body,
input,
textarea,
button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

button {
	cursor: pointer;
}